.App {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 20px;
   font-family: "Marvel", sans-serif;
   font-size: 30px;
}
button,
input {
   font-family: "Marvel", sans-serif;
   font-size: 30px;
}
